body {
    background: #EBECFB;
    margin: 0em 0em 1em 1em;
    padding: 0em;
  }
  
  main {
    margin-top: 0px;
    padding: 1rem 1.5rem;
    background: #EBECFB;
    min-height: calc(100vh - 90px);
    font-family: 'Arial';
  }
  
  .patient {
    font-size: 1rem;
    color: black;
  }
  

  .engagement-cards {
      width: 100%;
      float: left;
  }

  .engagement-card1 {
      float: left;
      width: 40%;
      margin-right: 2em;
      margin-bottom: 1em;
  }
  .engagement-card2 {
      float: left;
      width: 40%;
  }

  .legend1 {
      float: left;
      width: 100%;
  }

  .legend2 {
      float: left;
      width: 100%;
  }

  .card-single1 {
      float: left;
      width: 40%;;

  }

.outcome-cards1 {
    width: 110%;
    float: left;
}

 .card-single2 {
     width: 65%;
     float: right;
 }

 .all-outcomes {
  background: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid;
  border-color: white;
  padding: 0.5rem 5rem 01rem 1.5rem;
  border-radius: 7px;
  text-align: center;
  float: left;
  width: 80%;
 }

 #cdc {
     width: 92%;
     float: left;
 }

 .activity-title {
     float: left;
     width: 100%;
 }



.outcome1 {
    width: 21%;
    float: left;
    /* border: solid; */
}

.outcome2 {
    width: 24%;
    float: left;
    /* border: solid; */
}

.outcome3 {
    width: 25%;
    float: left;
    /* border: solid; */
}

.outcome4 {
    width: 23%;
    float: left;
    /* border: solid; */
}

.outcome5 {
    width: 28%;
    float: left;
}

.outcome6 {
    width: 28%;
    float: left;
}

.outcome7 {
    width: 28%;
    float: left;
}


.feature-cards1 {
  float: left;
  width: 45%;
  margin-right: 3.5em;
}

.feature-cards2 {
  float: left;
 width: 45%;
}

.feature1-row1 {
  border: solid;
}

.feature2-row2 {
  border: solid;
}

.feature3-row1 {
  border: solid;
}

.feature4-row2 {
  border: solid;
}

.feature1-row1-col1 {
  float: left;
  width: 30%;
  padding: 0em 2em 1em 0em;
}

  
.feature1-row1-col2 {
  float: left;
  width: 50%;
}

.feature2-row2-col1 {
  float: left;
  width: 30%;
  padding: 0em 2em 1em 0em;
}

.feature2-row2-col2 {
  float: left;
  width: 50%;
}

.feature3-row1-col1 {
  float: left;
  width: 30%;
  padding: 0em 2em 1em 0em;
}

.feature3-row1-col2 {
  float: left;
  width: 50%;
}

.feature4-row2-col1 {
  float: left;
  width: 30%;
  padding: 0em 2em 1em 0em;
}

.feature4-row2-col2 {
  float: left;
  width: 50%;
}

.feature1-row1 {
  background: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid;
  border-color: white;
  padding: 0rem 0.5rem 0rem 1.5rem;
  border-radius: 10px;
  float: left;
  width: 100%;
  margin: -1em 0em 1em 0em;
}

.feature2-row2 {
  background: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid;
  border-color: white;
  padding: 0rem 0.5rem 0rem 1.5rem;
  border-radius: 10px;
  float: left;
  width: 100%;
  margin: 0em 0em 1em 0em;
}

.feature3-row1 {
  background: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid;
  border-color: white;
  padding: 0rem 0.5rem 0rem 1.5rem;
  border-radius: 10px;
  float: left;
  margin: -1em 0em 1em 0em;
}

.feature4-row2 {
  background: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid;
  border-color: white;
  padding: 0rem 0.5rem 0rem 1.5rem;
  border-radius: 10px;
  float: left;
  margin: 0em 0em 1em 0em;
}

  
  .cards h2 {
    font-size: 1.2em;
  }
  
  .card-single1 {
    padding: 0.5rem 0.5rem 0rem 0rem;
    width: 30%;
  }
  
  .card-single1 h3 {
    color: #797979;
  }
  
  .card-single1 p {
    color: #797979;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .week_no {
    color: #7902CC;
    font-size: 1.5em;
  }
  
  .engage_no {
    color: white;
  }
  
  
  .card-single2 p {
    color: #797979;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .card-single2 h1 {
    color: #7902CC;
    font-size: 1.5em;
  }
  
  #cdc {
    color: #7B7B7B;
    font-size: 0.7em;
    font-weight: lighter;
  }
  
  .engagement-card1 {
    background: red;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 10px;
    color: white;
    width: 9rem;
    height: 5rem;
  }
  
  .engagement-card2 {
    background: green;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 10px;
    color: white;
    width: 9rem;
    height: 5rem;
    margin-bottom: 1rem;
  }
  
  
  .feature1 h2 {
    color: #7902CC;
    font-size: 1.2em;
  }
  
  .high {
    color: green;
  }
  
  .low {
    color: red;
  }
  

  .feature2 h2 {
    color: #7902CC;
    font-size: 1.2em;
  }
  

  .feature3 h2 {
    color: #7902CC;
    font-size: 1.2em;
  }
  
  
  .feature4 h2 {
    color: #7902CC;
    font-size: 1.2em;
  }
  
  .feature-cards1 p {
    font-size: 0.8em;
    color: #797979;
  }
  
  .feature-cards2 p {
    font-size: 0.8em;
    color: #797979;
  }
  
  .activity-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.2em;
  }
  
  h5 {
    color: #797979;
  }
  
  #phys_view {
    position: relative;
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.7em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
    font-family: Arial;
  }
  
  #phys_view_close {
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.8em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
    font-family: Arial;
    margin-left: 45%;
  }
  
  #weigh_view {
    position: relative;
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.7em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
  }
  
  #learn_view {
    position: relative;
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.7em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
  }
  
  #social_view {
    position: relative;
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.7em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
  }
  
  .container#blur.active {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    pointer-events: none;
  }
  
  #popup_phys {
    display: inline-box;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 10px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  #popup_phys.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .physical-activity {
    display: block;
    background: white;
    margin: 0em .5em .4em .5em;
    padding: 1em;
    border-radius: .4em .4em .4em .4em;
    border-color: none;
    font-family: Arial;
    color: #686868;
  }
  
  .physical-activity span {
    color: #7902CC;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .physical-activity #phys {
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #ddd;
    margin-bottom: 0.5em;
    color: #686868;
    margin-top: 3em;
    font-size: .8em;
  }
  
  #phys_view_close {
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.8em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
    font-family: Arial;
    margin-left: 45%;
  }
  
  #popup_learn {
    display: inline-box;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 10px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  #popup_learn.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .digital-learning {
    display: block;
    background: white;
    margin: 0em .5em .4em .5em;
    padding: 1em;
    border-radius: .4em .4em .4em .4em;
    border-color: none;
    font-family: Arial;
    color: #686868;
  }
  
  .digital-learning span {
    color: #7902CC;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .digital-learning #learn {
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #ddd;
    margin-bottom: 0.5em;
    color: #686868;
    margin-top: 3em;
    font-size: .8em;
  }
  
  #learn_view_close {
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.8em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
    font-family: Arial;
    margin-left: 45%;
  }
  
  #popup_weigh {
    display: inline-box;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 10px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  #popup_weigh.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .weigh-in {
    display: block;
    background: white;
    margin: 0em .5em .4em .5em;
    padding: 1em;
    border-radius: .4em .4em .4em .4em;
    border-color: none;
    font-family: Arial;
    color: #686868;
  }
  
  .weigh-in span {
    color: #7902CC;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .weigh-in #weigh {
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #ddd;
    margin-bottom: 0.5em;
    color: #686868;
    margin-top: 3em;
    font-size: .8em;
  }
  
  #weigh_view_close {
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.8em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
    font-family: Arial;
    margin-left: 45%;
  }
  
  #popup_social {
    display: inline-box;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 10px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  #popup_social.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .communication {
    display: block;
    background: white;
    margin: 0em .5em .4em .5em;
    padding: 1em;
    border-radius: .4em .4em .4em .4em;
    border-color: none;
    font-family: Arial;
    color: #686868;
  }
  
  .communication span {
    color: #7902CC;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .communication #comm {
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #ddd;
    margin-bottom: 0.5em;
    color: #686868;
    margin-top: 3em;
    font-size: .8em;
  }
  
  #social_view_close {
    padding: 7px 18px;
    display: inline-block;
    color: #7902CC;
    font-size: 0.8em;
    font-weight: bold;
    background: #EBECFB;
    border-radius: 4px;
    font-family: Arial;
    margin-left: 45%;
  }
  
  #instructions {
    margin-top: 2.5em;
    font-size: 0.8rem;
  }
  
  #phys_score {
    display: none;
  }
  
  #learn_score {
    display: none;
  }
  
  #weighin_score {
    display: none;
  }
  
  #comm_score {
    display: none;
  }
  /*# sourceMappingURL=main.css.map */